
   
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dno tours</title>

    <div class="dorne-search-form d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-close-btn" id="closeBtn">
                        <i class="pe-7s-close-circle" aria-hidden="true"></i>
                    </div>
                    <form action="#" method="get">
                        <input type="search" name="caviarSearch" id="search" placeholder="Search Your Desire Destinations or Events">
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading"  class="fade show" style="text-align: center; padding-top: calc(100vh / 2); height: 100vh">
        <i class="spinner-grow spinner-grow-sm"></i>
        <span class="m-1">Loading...</span>
      </div>
    <header class="header_area" id="header">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html"><img src="../../../../assets/site/img/core-img/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
            
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" (click)="openAllTour()">All Tour</a>
                                </li>
                        
                                <li class="nav-item dropdown"   >
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tour Type <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2"  >
                                        <div *ngFor="let ty of TypeListWithCount"> 
                                        <a class="dropdown-item"  (click)="openTourtype(ty)">{{ty.name}}</a>
                                    </div>
                                
                                    </div>
                                </li>
                                <li class="nav-item dropdown"   >
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contry <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2" >
                                        <div *ngFor="let co of Contry"> 
                                        <a class="dropdown-item" (click)="openContrytype(co)">{{co.name}}</a>
                                    </div>
                                    </div>
                                </li>
                             
                                <li class="nav-item">
                                    <a class="nav-link" (click)="opencontact()">Contact</a>
                                </li>
                            </ul>
         
                            <div class="dorne-add-listings-btn" >
                                <a (click)="openSingInPage()" style="color: white;" class="btn dorne-btn">+ Sign in  or Register</a>
                            </div>

                            <div class="dropdown" *ngIf=dashbordDisplay>

                                <i class="fa fa-user" style="font-size:30px;color:black; padding: 10px;" data-toggle="dropdown" ></i>
                       
                                <!-- <img src="https://cdn-icons-png.flaticon.com/512/666/666201.png" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" alt="logo" width="10" height="10"> -->
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><h6  *ngIf=dashbordDisplay> Hi {{username}}</h6>
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li> <a (click)="openDashnord()" style="color: white;" class="btn dorne-btn mb-1" *ngIf=dashbordDisplay>Dashboard</a></li>
                                  <li><a (click)="logout()" style="color: white;" class="btn dorne-btn" *ngIf=dashbordDisplay>Logout</a></li>
                              
                                </ul>
                              </div>
                            </div>
                  
                    </nav>
                    
                </div>
            </div>
        </div>
    </header> 
 <div>
</div>
 <!-- <section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100" style="background-image: url(../../../../assets/site/img/bg-img/hero-3.jpg);margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <span></span>
                        <h4>Tour </h4>
                    </div>
                </div>
            </div>

            <div class="row" >
             
               
                <div class="col-12 col-lg-6"  *ngFor="let ty of summaryData">
                    <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s" (click)="tourlist(ty.tour_code)">
                        <img src={{urlimg}}{{ty.filename}} alt="">
                        <div class="editors-pick-info" >
                            <div class="places-total-destinations d-flex">
                                <a href="#" >{{ty.tour_name}}</a>
                                <a href="#">{{ty.tour_day}} Day and {{ty.tour_night}} Night</a>
                            
                            </div>
                            <div class="add-more">
                                <a (click)="tourlist(ty.tour_code)">+</a>
                            </div>
                     
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </section> -->
    <!-- <footer class="dorne-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-md-flex align-items-center justify-content-between">
                    <div class="footer-text">
                        <p>
                       
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a  target="_blank">crystalbox technologies</a> <a target="_blank"></a>

                        </p>
                    </div>
                    <div class="footer-social-btns" style="color: white;">
                        <a  href="https://www.instagram.com/dnotours/" target="_blank" style="color: white;"><i class="fa fa-instagram" aria-haspopup="true"></i></a>
                        <a href="https://twitter.com/dnotours" target="_blank" style="color: white;"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
                        <a href="https://www.facebook.com/dnotours" target="_blank" style="color: white;"><i class="fa fa-facebook" aria-haspopup="true"></i></a>

                     

                    </div>
                </div>
            </div>
        </div>
    </footer> -->

  
    <section class="same-section-spacing bg-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding-top: 50px;">
                    <div class="banner-box">
                        <h2>package list</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">package List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="col-12 col-lg-6"  *ngFor="let ty of summaryData">
        <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s" (click)="tourlist(ty.tour_code)">
            <img src={{urlimg}}{{ty.filename}} alt="">
            <div class="editors-pick-info" >
                <div class="places-total-destinations d-flex">
                    <a href="#" >{{ty.tour_name}}</a>
                    <a href="#">{{ty.tour_day}} Day and {{ty.tour_night}} Night</a>
                
                </div>
                <div class="add-more">
                    <a (click)="tourlist(ty.tour_code)">+</a>
                </div>
         
            </div>
        </div>
 
    </div> -->

    <!-- End-banner-area -->
    <!-- Start-Package-Section -->
    <div style="padding-top: 100px;">
    <section class="ws-section-spacing bg-gray package-list"  *ngFor="let ty of summaryData">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="single_package">
                        <div class="media">
                            <img src="../../../../assets/images/pack-1.jpg" alt="">
                            <div class="media-body">
                                <span class="direction"><i class="fas fa-map-marker-alt"></i> {{ty.tour_name}}</span>
                                <h3><a href="#">{{ty.tour_name}}</a></h3>
                            
                                <div [innerHTML]=ty.discription>
                                </div>
                                <div class="duration">
                                    <ul>
                                        <li>
                                            <p> <i class="far fa-clock"></i> Duration</p>
                                            <h5>{{ty.tour_day}} Days and {{ty.tour_night}} Night</h5>
                                        </li>
                                        <li>
                                            <p> <i class="fas fa-tags"></i> From</p>
                                            <h5>₹{{ty.tour_price}}</h5>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.duration-->
                                <div class="add-more">
                                    <a class="btn-packlist" (click)="tourlist(ty.tour_code)">+ Know More</a>
                                </div>
                                <!-- <a href="#" class="btn-packlist" (click)="tourlist(ty.tour_code)" >Book now</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- item -->
              
                <!-- item -->
             
                <!-- item -->
               
            </div>
        </div>
    </section>
</div>
    <!-- End-Package-Section -->
    <!-- offer-section -->
    <section class="offer-area-three same-section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="add-area ">
                        <h3>1000 $ for person - 6 nights</h3>
                        <h2>Discount <span class="text-theme">10-30% </span> Off</h2>
                        <p>If you’re looking for a truly memorable family break here you find the lowest price on the
                            right hotel for you. It's indescribable. Stay up to date and check out the deals for these
                            trending destinations.</p>
                        <a href="#" class="site-button white">See Promotion Tours</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6"></div>
            </div>
        </div>
    </section>
 
    <footer class="ws-section-spacing img-footer" style="padding-top: 100px;">

        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
              <!--Grid row-->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">
                  DNO Tours
                  </h6>
                  <p style="color: #fff;">DNO Tours OPC Private Limited is a dynamic and innovative travel company that caters to the needs
                    of modern travellers.We specialize in providing top-notch travel experiences across a range of
                    segments, including corporate trips, group travel, family vacations, visa services. Our team at
                    Dnotours understands that travel is more than just getting from place to place.</p>
                <ul class="footer-icon">
                    <li href="https://www.instagram.com/dnotours/" target="_blank" style="color: white;"><i
                            class="fa fa-instagram" aria-haspopup="true"></i></li>
                    <li href="https://twitter.com/dnotours" target="_blank" style="color: white;"><i
                            class="fa fa-twitter" aria-haspopup="true"></i></li>
                    <li href="https://www.facebook.com/dnotours" target="_blank" style="color: white;"><i
                            class="fa fa-facebook" aria-haspopup="true"></i></li>
                </ul>
                </div>
                <!-- Grid column -->
      
                <hr class="w-100 clearfix d-md-none" />
      
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">Useful links</h6>
                 
                  <p>
                    <a class="text-white" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </p>
                  <p>
                    <a class="text-white" (click)="openAllTour()">All Tour</a>
                  </p>
                  <p>
                    <a class="text-white" (click)="opencontact()">Contact</a>
                  </p>
                
                </div>
                <!-- Grid column -->
      
                <hr class="w-100 clearfix d-md-none" />
      
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color: #fff;">
                  <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">
                    Why Choose Us
                  </h6>
                  <p>
                    <a class="text-white" style="color: #fff;">Best Travel Agent</a>
                  </p>
                  <p>
                    <a class="text-white" style="color: #fff;">Best Price</a>
                  </p>
                  <p>
                    <a class="text-white" style="color: #fff;">Trust & Safety</a>
                  </p>
                  <p>
                    <a class="text-white" style="color: #fff;">Post Sale Services</a>
                  </p>
                
                </div>
      
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />
      
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color: #fff;">
                  <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">Contact</h6>
                  <p style="color: #fff;"><i class="fas fa-home mr-3"></i>  Office #07, Jay Apartments, MG Road, Kandivali West, Mumbai-400067, Maharashtra, India</p>
                  <p style="color: #fff;"><i class="fas fa-envelope mr-3"></i>  itinerantur@dnotours.com</p>
                  <p style="color: #fff;"><i class="fas fa-phone mr-3"></i> +91 93244 32021</p>
    
                </div>
                <!-- Grid column -->
              </div>
              <!--Grid row-->
            </section>
            <!-- Section: Links -->
      
            <hr class="my-3">
      
            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                  <!-- Copyright -->
                  <div class="p-3" style="color: #fff;">
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/"
                       >DNO Tours</a
                      >
                  </div>
                  <!-- Copyright -->
                </div>
                <!-- Grid column -->
      
                <!-- Grid column -->
                
                <!-- Grid column -->
              </div>
            </section>
            <!-- Section: Copyright -->
          </div>
    </footer>